.facilities {
  background-color: white;
  border: 1px solid black;
  padding: 1%;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 3%;
  margin-bottom: 1%;
}
.placename {
  display: flex;
}
.facilities:hover {
  background-color: rgb(232, 235, 235);
}
.subline {
  color: rgba(129, 128, 128, 0.943);
  font-size: 15px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 20%;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
}

/* .share {
  border-radius: 10px;
  padding: 8px;
}
.save {
  border-radius: 10px;
  padding: 8px;
}
.share:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 242);
}
.share svg {
  margin-right: 5px;
}
.save svg {
  margin-right: 5px;
}
.save:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 242);
}
.buttons button {
  border: none;
  background-color: white;
  margin-left: 210px;
  font-size: 15px;
}
.buttons a {
  color: black;
  font-weight: 600;
} */
