.DateCheck {
  width: 250px; /* You can adjust width and height as needed */
  height: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow properties */
  padding: 5px; /* Add padding to make space for subcomponents */
  border-radius: 10px;
}
.box-heading {
  font-size: xx-large;
}
.select-data {
  display: flex;
}
