.flexdate {
  display: flex;
  justify-content: space-around;
}
.label {
  text-align: center;
}
.checkincheckout {
  width: 200px;
}
.checkinout {
  text-align: center;
}
.checkinout input {
  border: none;
  background-color: none;
}
#checkOutDate {
  background-color: none;
}
#checkOutDate:hover {
  background-color: rgb(243, 239, 239);
}
#checkInDate {
  background-color: none;
}
#checkInDate:hover {
  background-color: rgb(243, 239, 239);
}

.vertical-line {
  position: absolute;
  top: 6px;
  bottom: 6px;
  width: 1.5px; /* Width of the lines */
  background-color: lightgrey; /* Color of the lines */
}