.footer2 {
  display: flex;
  justify-content: space-between;
}

.list li {
  color: rgb(67, 66, 66);
  margin-top: 4%;
  font-size: 15px;
}
.list {
  list-style: none;
}
ul li:hover {
  text-decoration: underline;
}
