.toggle-button {
  background-color: white;
  width: 280px;
  height: 40px;
  font-size: 17px;
  border: none;
  margin-top: 5px;
}
.toggle-button:hover {
  background-color: rgb(243, 239, 239);
}

/* .dropdown-content {
  z-index: 1000;
  display: flex;
  width: 350px;
  border-radius: 20px;
  margin-top: 10px;
  border: 1px solid rgb(152, 151, 151);
} */
.dropdown-content {
  z-index: 1000;
  display: flex;
  width: 350px;
  border-radius: 20px;
  border: 1px solid rgb(152, 151, 151);
  position: absolute; /* Position the dropdown absolutely */
  top: calc(100% + 10px); /* Position the dropdown below the toggle button */
  left: 2; /* Align the dropdown with the left edge of the toggle button */
  background-color: #fff; /* Set background color to white */
}
ul {
  list-style: none;
}
.title li {
  margin-bottom: 70px;
}
.addminus li button {
  margin-left: 20px;
}

li button {
  margin-right: 40px;
  margin-bottom: 40px;
  padding: 10px;
  font-size: larger;
  font-weight: 700;
  border-radius: 50%;
  border: none;
  background-color: rgb(212, 125, 125);
}

.minus {
  padding: 12px;
}
