.dp img {
  height: 50px;
  width: 60px;
  margin-right: 20px;
  margin-top: 20px;
}
.hostedby {
  display: flex;
}
.name {
  font-weight: 500;
  font-size: large;
}
.subline {
  color: rgba(129, 128, 128, 0.943);
  font-size: 15px;
}
