*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.para{
    width: 40%;
    color: rgb(57, 57, 57);
    letter-spacing: 1;
    padding: 20px 0 5px 20px;
}

.Main-box- {
    position: relative;
    width: 100%;
    /* margin: 10px; */
    /* padding: 20px 0 20px 0; */
    font-size: 14px;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  .ShowMore2-box {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 3; /* Ensure the ShowMore2 box is above */
  }

  .Main-box-Notvisible{
    position: fixed;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    margin: 10px;
    min-height: 100vh;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    
  }
  
